/* Общие переменные */
:root {
    /* Темная тема */
    --primary-bg-color-dark: #07060a; /* Фон страницы */
    --secondary-bg-color-dark: #0c0b0b; /* Темный фон для деталей */
    --text-color-dark: rgb(199, 202, 204); /* Основной цвет текста */
    --accent-color-dark: #3498db; /* Основной акцент (для кнопок и ссылок) */
    
    /* Светлая тема */
    --primary-bg-color-light: #ffffff;
    --secondary-bg-color-light: #f0f0f0;
    --text-color-light: #333;
    --accent-color-light: #3498db;

    /* Общие переменные */
    --font-size-base: 16px; /* Базовый размер шрифта */
    --font-family: 'Arial', sans-serif; /* Основной шрифт */
    --font-size-lg: 2.5rem; /* Крупные заголовки */
    --font-size-sm: 0.9rem; /* Маленький шрифт для текста */
    --border-radius: 10px; /* Радиус скругления для элементов */
    --max-width: 1340px; /* Максимальная ширина контейнера */
    --poster-width: 500px; /* Максимальная ширина постера */
    --character-max-width: 120px; /* Максимальная ширина персонажей */
    --gap: 20px;
}

/* Общие стили для страницы */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--primary-bg-color-dark);
    color: var(--text-color-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Поддержка светлой темы */
body.light-theme {
    background-color: var(--primary-bg-color-light);
    color: var(--text-color-light);
}

/* Стили для кнопки "Назад" */
.back-to-page {
    text-decoration: none;
    position: fixed;
    top: 10px;
    left: 0%;
    background-color: var(--accent-color-dark);
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.back-to-page:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);
}
.poster-card  h2{
    font-size: 1.5em;
}
.banner{
      max-width: 100%;
    width: 100%;
    height: 300px;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2)); /* Исправил синтаксис drop-shadow */
    overflow: hidden;
    object-fit: contain;
}
.banner > img{
     width: 100%;
    height: 100%; /* Добавлен height: 100% для адаптации изображения по высоте */
    object-fit: cover; /* Используем object-fit: cover, чтобы изображение полностью покрывало область */
   
}
/* Контейнер для подробной информации */
#anime-details {
    background-color: var(--secondary-bg-color-dark);
    display: flex;
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%; 
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#anime-details.loaded {
    opacity: 1;
    transform: translateY(0);
}

/* Карточка с постером */
.poster-card {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

/* Основная информация */
.main_info {
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    gap: var(--gap);
}

/* Постер */
.poster {   
    margin: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

/* Стили для списка информации */
.list_info {
    height: 100%;
    width: 80%;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.list_info p strong {
    font-size: 1.8em;
}

.list_info p {
    font-size: 1.1em;
}

/* Изображение обложки аниме */
#anime-details .poster-card img {
    width: 375px;
    max-width: var(--poster-width);
    height: auto;
    border-radius: var(--border-radius);
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}


/* Стиль для контейнера с информацией */
.info {
    max-width: 100%;
    height: 100%;
    font-family: var(--font-family);
    font-size: 16px;
    text-align: center;
    color: var(--text-color-dark);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    background-color: #0c0b0b;
}
.title{
    display: flex;
    width: 100%;
    margin: 3em;
}
/* Стиль для колонок */
.info p {
    width: 100%; /* Делаем каждую колонку 48% ширины, чтобы они не выходили за пределы */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 26px;
    color: var(--text-color-dark);
    line-height: 1.4;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeIn 0.6s ease-out forwards;
    animation-delay: 0.3s;
}

/* Для первой строки */
.info .first-row p {
    width: 100%; /* Первая строка занимает всю ширину */
}

/* Для второй строки, колонки по 50% */
.info .second-row p {
    width: 48%; /* Столбцы для второй строки */
}

/* Заголовок для списка информации */
.list_info h2 {
    font-size: 23px;
    margin: .3em;
}


#anime-details .list_info p:first-child {
    text-align: center;
    font-size: var(--font-size-lg);
}

/* Стили для описания */
#anime-details p:last-child {
    color: inherit;
    font-style: italic;
    text-align: center;
    transition: transform .3s ease-in;
}

/* Кнопка назад */
#anime-details a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: var(--font-size-base);
    transition: background-color 0.3s;
}

#anime-details a:hover {
    background-color: var(--button-hover-color);
}


/* Стиль для контейнера вкладок */
.tabs {
    border-top: 2px solid #ddd;
    display: flex;
    justify-content: center;
    margin: 7em 7em;
    width: 100%;
    align-items: center;
    gap: 2em;
    padding-top: 3em;
}

/* Кнопки вкладок */
.tab-button {
    padding: 10px 20px;
    color: var(--text-color-dark);      
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    border-bottom: 3px solid;
    transition: all 0.3s ease; /* Плавный переход */
}

/* Активная вкладка */
.tab-button.active {
    border-bottom:  3px solid orange;
    color: white;
    
}   

/* При наведении */
.tab-button:hover {
    
    color: white;
}

/* Содержимое вкладки */
.tab-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition:  all .3s ease-in-out;
   
}
/* Скрытие неактивных вкладок */
.tab-pane {
    display: none;
    width: 100%;
    opacity: 0;
    transition:  all .3s ease-in-out;
}

/* Показывать только активную вкладку */
.tab-pane.active {
    display: block;
    opacity: 1 ;
    
}

/* Описание */
.list_info {
    width: 100%;
    padding: 20px;
    background-color: var(--secondary-bg-color-dark);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Персонажи */
.characters {
    width: 100%;
    height: 450px;
    padding: 20px;
    
    background-color: var(--secondary-bg-color-dark);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Адаптивность */
@media (max-width: 768px) {
    .tabs {
        flex-direction: column;
    }
}

h3 {
    font-size: var(--font-size-lg);
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.character-list {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: space-evenly;
    
}

.character{
    max-width: 100%;

}
.character img {
    width: 350px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;

}
/* Адаптивность */
@media (max-width: 768px) {
    #anime-details {
        padding: 15px;
    }

    .main_info {
        flex-direction: column;
        gap: 10px;
    }

    .poster {
        width: 80%;
    }

    .character-list {
        justify-content: center;
        gap: 10px;
    }

    .character {
        max-width: 120px;
    }

    #anime-details img {
        max-width: 350px;
    }
}

@media (max-width: 320px) {
    #anime-details {
        padding: 10px;
    }

    .poster {
        width: 100%;
    }

    .list_info p {
        font-size: 1em;
    }
}

/* Переходы и анимации */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Медиазапросы для адаптивности */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center; /* Переводим футер в колонку на мобильных устройствах */
        gap: 20px;
    }

    .footer-section {
        min-width: 100%;
        max-width: 100%;
        padding: 0; /* Убираем отступы на мобильных устройствах */
    }

    .footer-section h3 {
        font-size: 18px; /* Уменьшаем размер заголовков на мобильных */
    }

    .footer-bottom {
        font-size: 14px;
    }

    .footer {
        padding: 40px 15px; /* Уменьшаем padding на мобильных устройствах */
    }
}
