
p{
    font-size: 24px;
    text-align: left;
    width: 100%;
}
.studio{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Общие стили для страницы */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--primary-bg-color-dark);
    color: var(--text-color-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow-x: hidden;
}



.name{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}
.anime-title {
    width: 100%;
    max-width: max-content;
    margin: 1em;
}
.anime-title h2{
    word-break:keep-all;
    width: 100%;
    margin: .4em;
    font-size: 1.5em;
   
}

/* Контейнер для подробной информации */
#anime-details {
    display: flex;
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 100%; 
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#anime-details.loaded {
    opacity: 1;
    transform: translateY(0);
}

/* Карточка с постером */
.poster-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    align-items:safe;
    justify-content: center;
    width: 100%;
    margin: 0 7em;
}

/* Основная информация */
.main_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    gap: var(--gap);
}

/* Постер */
.poster {   
    margin: 2.5em 2.5em 1.3em  2.5em ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}
.banner {
  width: 100%;           /* Устанавливаем ширину на 100% от родительского элемента */
  height: 300px;         /* Фиксируем высоту баннера (можно изменить по вашему усмотрению) */
  overflow: hidden;      /* Скрываем все, что выходит за пределы контейнера */
}

.banner img {
  width: 100%;           /* Ширина изображения растягивается на всю ширину контейнера */
  height: 100%;          /* Высота изображения растягивается на всю высоту контейнера */
  object-fit: cover;     /* Масштабируем изображение, сохраняя его пропорции, заполняя контейнер */
  object-position: center; /* Центрируем изображение внутри контейнера */
}

/* Стили для списка информации */
.list_info {
    height: 100%;
    width: 80%;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

strong {
    font-weight: 100;
    font-style: oblique;
}

.list_info p {
    font-size: .8em;
   
}

/* Изображение обложки аниме */
#anime-details .poster-card img {
    width: 375px;
    max-width: var(--poster-width);
    height: auto;
    border-radius: var(--border-radius);
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}


/* Стиль для контейнера с информацией */
.info {
    max-width: 100%;
    height: 100%;
    font-family: var(--font-family);
    margin-top: 3em;
    text-align: center;
    color: var(--text-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}
.title{
    display: flex;
    width: 100%;
    margin: 3em;
}
/* Стиль для колонок */
.info p {
    width: 100%; /* Делаем каждую колонку 48% ширины, чтобы они не выходили за пределы */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    color: var(--text-color-dark);
    line-height: 1.4;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeIn 0.6s ease-out forwards;
    animation-delay: 0.3s;
    line-height: 2.5;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: left;
}

/* Для первой строки */
.info .first-row p {
    width: 100%; /* Первая строка занимает всю ширину */
}

/* Для второй строки, колонки по 50% */
.info .second-row p {
    width: 48%; /* Столбцы для второй строки */
}

/* Заголовок для списка информации */
.list_info h2 {
    font-size: 23px;
    margin: .3em;
}


#anime-details .list_info p:first-child {
    text-align: center;
    font-size: var(--font-size-lg);
}


/* Кнопка назад */
#anime-details a {
    display: inline-block;
    margin: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: var(--font-size-base);
    transition: background-color 0.3s;
}

#anime-details a:hover {
    background-color: var(--button-hover-color);
}


/* Стиль для контейнера вкладок */
.tabs {
    border-top: 2px solid #ddd;
    display: flex;
    justify-content: center;
    margin: 7em 7em;
    width: 100%;
    align-items: center;
    gap: 15px;
    padding-top: 1em;
}

/* Кнопки вкладок */
.tab-button {
    padding: 10px 20px;
    color: var(--text-color-dark);      
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    border-bottom: 3px solid;
    transition: all 0.3s ease; /* Плавный переход */
}

/* Активная вкладка */
.tab-button.active {
    border-bottom:  3px solid orange;
    color: white;
    
}   

/* При наведении */
.tab-button:hover {
    
    color: white;
}

/* Содержимое вкладки */
.tab-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition:  all .3s ease-in-out;
   
}
/* Скрытие неактивных вкладок */
.tab-pane {
    display: none;
    width: 100%;
    opacity: 0;
    transition:  all .3s ease-in-out;
    margin: 1em;
}

/* Показывать только активную вкладку */
.tab-pane.active {
    display: block;
    opacity: 1 ;
    
}

/* Описание */
.list_info {
    width: 100%;
    padding: 20px;
    
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Персонажи */
.characters {
    width: 100%;
    margin: 20px; 
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Адаптивность */
@media (max-width: 768px) {
    .tabs {
        flex-direction: column;
    }
}

h3 {
    font-size: var(--font-size-lg);
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.character-list {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    align-items: flex-start;   /* Выравнивание по началу по вертикали (если контейнер — это Flexbox) */
    justify-content: flex-start; /* Выравнивание по началу по горизонтали */
}

.character {
    max-width: 100%;
    align-self: flex-start;  /* Элементы будут выравниваться по началу внутри контейнера */
    transition:  .4s ease-in-out;
    border-radius: 15px;
}
.character:hover{
    transform: scale(1.03);
    box-shadow: 0 0 30px inset rgb(65, 64, 64);
}
.character img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;

}
/* Переходы и анимации */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.actions {
    width: 100%;
    text-align: center;
    gap: 15px;
    margin-top: 10px;
}
.actions button {
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.actions button i {
    font-size: 18px;
}
.actions button:hover {
    color: #faa914; /* Оранжевый при наведении */
}
.birthday-icon i{
    color: rgb(255, 0, 85);
    font-size: 16px;  
}
.genre-container {
  display: flex;
  flex-wrap: wrap;        
  justify-content: flex-start;  
  gap: 8px;               /* Промежуток между жанрами */
  width: 80%;
  transform: translateX(-12%);         /* Ограничиваем ширину контейнера */
}
.genre {
  padding: 5px 10px;
  font-size: 14px;
  justify-content: center;
  margin-bottom: 8px;         /* Отступ снизу для каждого жанра */
  min-width: 100px;         
  text-align: center;         /* Центрируем текст внутри жанра */
  white-space: nowrap;        /* Запрещаем перенос текста внутри */
  display: inline-flex;       
  color: #ECF0F1;
  border-radius: 5px;
  margin-right: 8px;
}
.genre i {
  margin-left: 5px; /* Отступ для иконки */
}
/* Стили для секции комментариев */
.comment-section {
    width: 100%;
    margin-top: 10em;
    border-top:  3px solid;
    padding: 1em;
}

#commentInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
    
  resize: vertical;
}

.btn-submit {
  background-color: #2C3E50;
  color: #ECF0F1;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-submit:hover {
  background-color: #34495E;
}
/* Стили для жанров с темным фоном */
.genre {
  background-color: #2C3E50;
  color: #ECF0F1;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 8px;
}

.genre-container {
  display: flex;
  flex-wrap: wrap;
}

/* Стили для кнопок */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button i {
  font-size: 1.5rem;
}

#favoriteBtn.active {
  color: red;
}

.birthday-icon {
  color: gold;
}

.birthday-icon i {
  font-size: 1.2rem;
}
