@import './reset.css';
p{
    font-size: 24px;
    text-align: left;
    width: 100%;
}
.studio{
    width: 50%;
    word-wrap: break-word;
    

}
/* Общие стили для страницы */
body {
    font-family: var(--font-family-heading);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--primary-bg-color-dark);
    color: var(--text-color-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow-x: hidden;
    font-size: 18px;
}
.name{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}
.anime-title {
    width: 100%;
    max-width: max-content;
    margin: 1em;
}
.anime-title h2{
    word-break:keep-all;
    width: 100%;
    margin: .4em;
    font-size: 1.5em;
}

/* Контейнер для подробной информации */
#anime-details {
    display: flex;
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 100%; 
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.6s ease-out forwards; /* Добавляем анимацию появления */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#anime-details.loaded {
    opacity: 1;
    transform: translateY(0);
}

/* Карточка с постером */
.poster-card {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    align-items: safe;
    justify-content: space-between;
    width: 100%;
    margin: 0 7em;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeIn 0.8s ease-out forwards;
}
.poster-card img {
    
    
    height: auto;
    border-radius: var(--border-radius);
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}
/* Основная информация */
.main_info {
    width: 100%;
    display: flex;

    justify-content: space-evenly;
    align-items: start;
    height: 100%;
   
    gap: var(--gap);
}

/* Постер */
.poster {   
    margin: 2.5em 2.5em 1.3em  2.5em ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    
}
.banner {
  width: 100%;           /* Устанавливаем ширину на 100% от родительского элемента */
  height: 300px;         /* Фиксируем высоту баннера (можно изменить по вашему усмотрению) */
  overflow: hidden;      /* Скрываем все, что выходит за пределы контейнера */
}

.banner img {
  width: 100%;           /* Ширина изображения растягивается на всю ширину контейнера */
  height: 100%;          /* Высота изображения растягивается на всю высоту контейнера */
  object-fit: cover;     /* Масштабируем изображение, сохраняя его пропорции, заполняя контейнер */
  object-position: center; /* Центрируем изображение внутри контейнера */
}

/* Стили для списка информации */
.list_info {
    height: 100%;
    width: 100%;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 1.4;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

strong {
    font-weight: 100;
    font-style: oblique;
}

.list_info p {
    font-size: .8em;
}

/* Изображение обложки аниме */
#anime-details .poster-card img {
   
    height: auto;
    border-radius: var(--border-radius);
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}


/* Стиль для контейнера с информацией */
.info {
    width: 100%;
    max-width: 100%;
    height: 100%;
    font-family: var(--font-family);
    margin-top: 3em;
    text-align: center;
    color: var(--text-color-dark);
    display: flex;
    flex:  1 0  100%;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}
.title_name {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}

.details{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 10%;

}
.details h3{
    text-transform:none;
    font-size: 18px;
}
.details p{
    font-size: 13px;
}
.details p:last-child{
    text-align: right;
}
.title{
    display: flex;
    width: 100%;
    margin: 3em;
}
/* Стиль для колонок */
.info p {
   
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    color: var(--text-color-dark);
    line-height: 1.8;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeIn 0.6s ease-out forwards;
    animation-delay: 0.3s;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: left;
}

/* Для первой строки */
.info .first-row p {
    width: 100%; /* Первая строка занимает всю ширину */
}

/* Для второй строки, колонки по 50% */
.info .second-row p {
    width: 48%; /* Столбцы для второй строки */
}

/* Заголовок для списка информации */
.list_info h2 {
    font-size: 23px;
    margin: .3em;
}



/* Кнопка назад */
#anime-details a {
    display: inline-block;
    color: white;
    text-decoration: none;
    
    font-size: var(--font-size-base);
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

#anime-details a:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);  /* Увеличиваем кнопку при наведении */
}


/* Стиль для контейнера вкладок */
.tabs {
    border-top: 2px solid #ddd;
    display: flex;
    justify-content: center;
    margin: 6em 0em 1em 0em;
    width: 100%;
    align-items: center;
    gap: 15px;
    padding: 1em;
    animation: fadeIn 0.5s ease-out forwards;
}

/* Кнопки вкладок */
.tab-button {
    padding: 10px 20px;
    color: var(--text-color-dark);      
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    border-bottom: 3px solid;
    transition: all 0.3s ease; /* Плавный переход */
    animation: fadeIn 0.5s ease-out forwards;
}

/* Активная вкладка */
.tab-button.active {
    border-bottom:  3px solid orange;
    color: white;
    
}

/* При наведении */
.tab-button:hover {
    border-bottom:  3px solid orange;
    color: white;
}

/* Содержимое вкладки */
.tab-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition:  all .3s ease-in-out;
    width: 100%;
    animation: fadeIn 0.5s ease-out forwards;
    
}
/* Скрытие неактивных вкладок */
.tab-pane {
    display: none;
    width: 100%;
    opacity: 0;
    transition:  all .3s ease-in-out;
    margin: 1em;
}

/* Показывать только активную вкладку */
.tab-pane.active {
    display: block;
    opacity: 1 ;
    
}

/* Описание */
.list_info {
    width: 100%;
    padding: 20px;
    transition: all 0.3s ease;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.trailer{
    margin-top: 3em;
    width: 100%;
    
}
/* Персонажи */
.characters {
    width: 100%;
    margin: 20px; 
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: left;
}

/* Адаптивность */
@media (max-width: 768px) {
    .tabs {
        flex-direction: column;
    }
}

h3 {
    font-size: var(--font-size-lg);
    color: #fff;

}

.character-list {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 23px;
    width: 100%;
    max-width: 100%;
    padding: 1em;
    align-items: flex-start;   /* Выравнивание по началу по вертикали (если контейнер — это Flexbox) */
    justify-content: flex-start; /* Выравнивание по началу по горизонтали */
    transition: all 0.3s ease;
}

.character {
    max-width: 100%;
    align-self: flex-start;  /* Элементы будут выравниваться по началу внутри контейнера */
    transition:  .4s ease-in-out;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.character img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;

}
.character-card{
    width: 100%;
    max-width: 230px;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease;
}

.character-card p {
    display: inline;
}
.birthday-celebration{
    display: inline;
    color: var(--link-hover-bg);
}
.actions {
    width: 100%;
    text-align: center;
    gap: 15px;
    margin-top: 10px;
}
.actions button {
    
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.actions button i {
    font-size: 18px;
}
.actions button:hover {
    color: #faa914; /* Оранжевый при наведении */
}
.birthday-icon i{
    color: rgb(255, 0, 85);
    font-size: 16px;  
}
.genre-container {
    display: flex;
    flex-wrap: wrap;        
    justify-content: flex-start;  
    gap: 8px;               /* Промежуток между жанрами */
    width: 80%;
}
.genre i {
  margin-left: 5px; /* Отступ для иконки */
}
/* Стили для секции комментариев */
.comment-section {
    width: 100%;
    margin-top: 10em;
    border-top:  3px solid;
    padding: 1em;
}
#commentInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    resize: vertical;
}
.btn-submit {
    background-color: #2C3E50;
    color: #ECF0F1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.genre{
    text-align: left;
    padding: 5px;  
    font-weight: 900;
    margin: 10px;
}
.genre-container {
    display: flex;
    flex-wrap: wrap;
}
/* Стили для кнопок */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
button:focus {
    outline: none;
}
button i {
    font-size: 1.5rem;
}
#favoriteBtn.active {
    color: red;
}
.birthday-icon {
    color: gold;
}
.birthday-icon i {
    font-size: 1.2rem;
}
.next-episode{
    display: inline-block;
    text-align: left;
    border:  dashed 3px;
    margin-top: 1em;
    padding: 1.1em;
}

.next-episode .time{
    color: rgb(255, 0, 76);
}
/* Анимация для появления элементов */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Плавный переход для фона */
@keyframes fadeBackground {
    0% {
        background-color: rgba(0, 0, 0, 0.1);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/* Добавляем плавный переход для кнопок */
@keyframes buttonHover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
/* Стиль для кнопки статуса */
.status-dropdown {
  position: relative;
  display: inline-block;
  width: 380px;
  margin: 20px 0;
  
}

.status-btn {
  background-color: var(--accent-color-dark);
  color: white;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
    
  
}


/* Стиль для выпадающего меню */
.status-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
 
}

.status-menu a {
  color: black;
    background-color: var(--accent-color-dark);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.status-menu a:hover {
  background-color: #ddd;
  
}

/* Отображение меню при активации */
.status-dropdown:hover .status-menu {
  display: flex;
  flex-direction: column;
  width: 100%;

}
