/* Определение CSS переменных */
:root {
    --main-bg-color: #1a1a1a;
    --nav-bg-color: #222222;
    --link-color: #d3d3d3;
    --link-hover-bg: #0e062057;
    --link-hover-color: #ffffff;
    --active-link-bg: #0e062057;
    --active-link-color: #ffffff;
    --text-light: #ccc;
    --text-dark: #bbb;
    --highlight-bg: #ff4c4c;
    --card-bg: linear-gradient(135deg, rgba(37, 37, 37, 0.8), rgba(0, 0, 0, 0.8));
    --shadow: rgba(0, 0, 0, 0.3);
    --hover-shadow: rgba(0, 0, 0, 0.4);
    --font-family-main: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    --font-family-heading: 'Coming Soon', cursive;
    --font-family-info: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --card-width: 240px;
    --card-gap: 30px;
}

/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-main);
    color: var(--link-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--main-bg-color);
    min-height: 100vh;
    font-family: var(--font-family-heading);
}

/* Стиль навигации */
.navigate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 1rem 1rem;
    background-color: var(--nav-bg-color);
    box-shadow: 0 2px 8px var(--shadow);
}
/* Стиль для логотипа */
.navigate .logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navigate .logo img {
    max-width: 150px;
    height: auto;
}

/* Стиль для строки поиска */
.search-container {
    display: flex;
    align-items: center;
    flex: 0 1 25%;
    gap: 0.5rem;
    width: 100%;
    margin-left: auto; /* Выравниваем поиск вправо */
}

.search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: var(--nav-bg-color);
    color: var(--active-link-color);
    width: 500px;
    border: 1px solid var(--active-link-color);
}
/* Стиль для контейнера профиля */
.profile-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.profile-link {
    font-size: 1.5rem;
    color: #d3d3d3;
    text-decoration: none;
}

.profile-link:hover {
    color: #ff4c4c; /* Цвет при наведении */
}

.search-input:focus {
    border-color: #5c1eec;
}

.search-btn {
    padding: 0.5rem;
    background-color: #222222;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.search-btn i {
    font-size: 1.2rem;
}

.search-btn:hover {
    background-color: #ff4c4c;
}

/* Стили для списка навигации */
.navigate > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    margin: 0;
    list-style-type: none;
}

/* Для каждого пункта навигации */
.tab_navigate {
    list-style: none;
}

/* Стиль для каждой ссылки */
.link_navigate {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem .8rem;
    font-size: .8rem;
    font-weight: 600;
    color: var(--link-color);
    text-decoration: none;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
}

/* Иконки рядом с текстом */
.link_navigate i {
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
}

/* Эффект при наведении */
.link_navigate:hover {
    background-color: var(--link-hover-bg);
    color: var(--link-hover-color);
    transform: translateY(-5px);
    box-shadow: 0 4px 15px var(--hover-shadow);
}

/* Эффект увеличения иконки при наведении */
.link_navigate:hover i {
    transform: scale(1.2);
}

/* Активная ссылка */
.link_navigate.active {
    background-color: var(--active-link-bg);
    color: var(--active-link-color);
    box-shadow: 0 4px 15px var(--hover-shadow);
    transform: translateY(-5px);
}

.link_navigate.active:hover {
    background-color: var(--active-link-bg);
}

.link_navigate.active i {
    transform: scale(1.2);
}

/* Стили для подменю навигации (если нужно) */
.subnav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
    background-color: #333333;
    padding: 0.5rem 0;
    border-radius: 10px;
}
.subnav a {
    padding: 0.8rem 1.2rem;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}
.subnav a:hover {
    background-color: var(--highlight-bg);
    transform: scale(1.05);
}

/* Стили для всех изображений */
img {
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 350px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

/* Основной контейнер для аниме */
.list_anime_main {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--card-gap);
    margin-top: 20px;
    overflow: hidden;
}

/* Стиль карточки аниме */
.card_title {
    width: var(--card-width);
    height: auto;
    padding: 1rem;
    background: var(--card-bg);
    border-radius: 15px;
    box-shadow: 0 4px 10px var(--shadow);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Подъем карточки при наведении */
.card_title:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px var(--hover-shadow);
}

/* Стили для ссылок в карточке */
.card_title a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

/* Стили для изображения */
.poster {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

/* Информация о аниме */
.info {
    font-family: var(--font-family-info);
    margin-top: 1rem;
    line-height: 1.4;
    font-size: 16px;
    text-align: center;
    color: var(--text-light);
}
.info h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}
.info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: var(--text-dark);
}

/* Адаптивность для маленьких экранов */
@media (max-width: 768px) {
    .list_anime_main {
        flex-direction: column;
        align-items: center;
    }

    .card_title {
        width: 90%;
    }

    .navigate > ul {
        flex-direction: column;
    }

    .link_navigate {
        font-size: 1.2rem;
        padding: 0.8rem 1rem;
    }

    .subnav {
        flex-direction: column;
    }
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .navigate > ul {
        flex-direction: column;
        gap: 1rem;
    }

    .link_navigate {
        font-size: 1.1rem;
        padding: 1rem 1.5rem;
    }

    .subnav {
        flex-direction: column;
    }

    .subnav a {
        padding: 1rem;
    }
}
